@media (max-width: 800px) {
  .menu-icon {
    display: block;
  }

  .nav-links,
  .nav-buttons {
    display: none;
  }

  .hero-container {
    flex-wrap: wrap-reverse;
  }

  .contact-container,
  .about-us-container,
  .contact-content {
    flex-wrap: wrap;
  }
}
@media (min-width: 801px) {
  .mobile-menu {
    display: none !important;
  }
}

@media (min-width: 835px) {
  .text-container h1 {
    font-size: 4rem;
  }
  .image-container img {
    height: 80vh;
  }
}
@media (max-width: 600px) {
  .text {
    font-size: 1rem;
  }
}
